---
layout: default
title: OSM GeoWeek
twitter-description: Sign up for an event near you or plan your own mapathon. You can contribute to mapping projects around the world and explore the power of maps! Get in touch, we're happy to help!
---

<!-- <section class='hide-mobile contain'>
  <div class='liner clearfix center fill-darken2 dark pin-top col12'>
    <h2 class='pad2'>
      Teach, Learn and Discover Geography With <a href='http://openstreetmap.org'>OpenStreetMap</a> during <a>Geography Awareness Week</a>, Nov 15-21.
    </h2>
  </div>
  <ul class='slider clearfix pin-top col12'>
    <li><img src='img/splash/usaid.jpg' title='USAID Mapping for Resilience project to support Feed the Future programs while working with students from Khulna University, Bangladesh' /></li>
    <li><img src='img/splash/2015-cusco.png' title='Contribute to local mapping projects on the ground' /></li>
    <li><img src='img/splash/mapapalooza.jpg' title='Have Fun Learning Geography' /></li>
    <li><img src='img/splash/peace-corps-splash.png' title='Building geographic datasets with OpenStreetMap and Field Papers' /></li>
  </ul>
</section> -->

<!--counts of events and projects-->
{% assign event_counter = 0 %}
{% for event in site.categories.event %}
    {% assign event_counter = event_counter | plus: 1 %}
{% endfor %}

{% assign project_counter = 0 %}
{% for project in site.categories.project %}
    {% unless project.tags contains 'notfeatured' %}
        {% assign project_counter = project_counter | plus: 1 %}
    {% endunless %}
{% endfor %}

<div class='site-header contain clearfix'>
  <div class='pad8y dark'>
    <div class='limiter pin-bottom space-bottom8'>
     <h1 class='space-bottom1'>OSM Geography <span class='text-red-orange'>Awareness</span> Week</h1>
    <p class='prose-big space-bottom1'>Nov 13-19, 2016</p>
    <p class='col10 margin2r'>Teachers, students, community groups, map lovers, in the US and around the world, join together to celebrate geography and make maps with <a href="http://www.openstreetmap.org/about"><strong><span class='text-red-orange'>OpenStreetMap</span></strong></a>, the free and openly editable map of the world.</p>

    <a href="{{site.baseurl}}/events/" class='pad2x button fill-red-orange'>Find an event</a>

    <a href="https://docs.google.com/forms/d/1SG9DW7ZyEC9Vf78RbApUfBYAQPSIReyxbupGJPCqjtw/" class='pad2x button fill-red-orange'>Submit an event</a>

    </div>

  </div>
</div>


<div class='clearfix col12'>
  <div class='limiter'>
  <div class='pad4y'>
<p class='prose-big quiet'>A global coalition of partners are hosting mapping events at colleges, community centers and other institutions to map places around the globe.

<!--
, following the <a href="http://education.nationalgeographic.com/programs/geographyawarenessweek/">Geography Awareness Week 2015</a> theme, “Explore! The Power of Parks”</p> -->

<!--
<p>OpenStreetMap Institutions will host the flagship mapping party on Thursday, Nov. 19, from 6:30 p.m. to 9 p.m. EST at Peace Corps headquarters in Washington, D.C., with the goal of actively contributing to OpenStreetMap. Admission is free, but interested individuals should <a href="https://www.eventbrite.com/e/access-for-all-osm-geoweek-2015-tickets-19153645068">RSVP online</a>.
</p>
-->

<p>On the local level, grassroots organizers around the world are holding <a href="{{site.baseurl}}/events/">over {{event_counter}} events</a> at local schools and community centers during <strong>#osmgeoweek</strong>. If you are organizing an event, or even just thinking about it, get in touch at <a href='mailto:mapgive@state.gov'>mapgive@state.gov</a>.
</p>

<!-- There are a collection of <a href="{{site.baseurl}}/projects/"> {{project_counter}} featured Mapping Projects</a> to work on during the week. Organizers and participants can choose projects that strike their interest, most all on the theme ,"Explore! The Power of Maps". As the week progresses, we'll add animations and stats to visualize progress.
</p>

The <a href="{{site.baseurl}}/plan/">Guides</a> are a collection of resources for planning and hosting a local event, and for participants at the event to learn and contribute to OSM. We are also supporting <a href="http://teachosm.org/">TeachOSM</a>, a resource for educators to bring OSM into the classroom.
</p> -->

<p>For more details about Geography Awareness Week, its history, and more information about this year’s theme, <strong>“Explore! The Power of Parks”</strong> take a look at National Geographic’s <a href="http://education.nationalgeographic.com/programs/geographyawarenessweek/">Geography Awareness Week homepage</a>. Follow <a href="https://twitter.com/search?q=%23osmgeoweek&src=typd"><strong>#osmgeoweek</strong></a> for updates during the week, and share your experiences using the <strong>#osmgeoweek</strong> hashtag.
</div>
  <div class='col12'>

    <div class='col12 clearfix'>
    <div class='col5 margin1r'>
       <a href='{{site.baseurl}}/events/'><h2>Events</h2></a>
        <p>Find an event near you. Or, let us know if you are planning an event, submit the details or get in touch!</p>
    </div>
    <div class='col6 fill-light round pad2 space-bottom4'>
      {% for post in site.categories.event reversed limit:3 %}
      <h3><a href="{{site.baseurl}}/{{post.permalink}}">{{ post.title }}</a></h3>
      <p class='small'>{{ post.day }} | {{ post.time }}</p>
      {% endfor %}
    </div>
    </div>

     <div class='col12 clearfix space-bottom4'>
     <div class='col5 margin1r'>
        <a href='{{site.baseurl}}/projects/'><h2>Projects</h2></a>
        <p>Looking for a project to map? Browse a wide variety of projects set-up by OSMGeoWeek supporters.</p>
      </div>
     <div class='col6 fill-light round pad2'>
      {% for post in site.categories.project limit:4 %}

        {% assign display = null %}
        {% assign ready = null %}
          {% for tag in post.tags %}
            {% if tag == "remote" %}
              {% assign display = true %}
            {% elsif tag == "notfeatured" %}
              {% assign display = false %}
            {% endif %}
          {% endfor %}
          
          {% if display == true %}

            <h3><a href="{{site.baseurl}}/{{post.permalink}}">{{ post.title }}</a></h3>
            <p class='small'>{{ post.subtitle }}</p>
          {% endif %}
        {% endfor %}

    </div>
    </div>

    <div class='col12 clearfix space-bottom4'>
      <div class='col5 margin1r'>
         <a href='{{site.baseurl}}/guides/'><h2>Guides</h2></a>
        <p>We have guides that can help you to get started mapping and plan your own event!</p>
        </div>
        <div class='col6 fill-light round pad2'>
        {% for post in site.categories.guide limit:3 %}

          {% assign display = null %}
          {% assign ready = null %}
          {% for tag in post.tags %}
            {% if tag == "planner" or tag == "mapper" %}
              {% assign display = true %}
            {% elsif tag == "notfeatured" %}
              {% assign display = false %}
            {% endif %}
          {% endfor %}
          {% if display == true %}


            <h3><a href="{{site.baseurl}}/{{post.permalink}}">{{ post.title }}</a></h3>
            <p class='small'>{{ post.excerpt | markdownify | strip_html | remove: '<p>' | remove: '</p>' }}</p>
          {% endif %}

        {% endfor %}
      </div>
    </div>


  </div>

  </div>


</div>

{% include map.html %}


<script>
$(function(){
    $('.slider').bxSlider({
        pager: false,
        controls: true,
        auto: true,
        captions: true
    });
});
</script>
