<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <meta property='og:site_name' content='OpenStreetMap - Geography Awareness Week' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta property='og:description' content='{{page.twitter-description}}' />
  <meta property='og:type' content='website' />

  <!-- Twitter Cards -->

  <meta name='twitter:card' content='summary_large_image' />
  <meta name='twitter:site' content='@osmgeoweek' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta name='twitter:description' content="{{page.twitter-description}}" />

  {% if page.image %}
  <meta name='twitter:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta name='st:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta property='og:image' content='{{page.image | replace:"https:","http:"}}' />
  {% else %}
  <meta name='twitter:image' content='http://osmgeoweek.org/img/twittercard.png' />
  <meta name='st:image' content='http://osmgeoweek.org/img/twittercard.png' />
  <meta property='og:image' content='http://osmgeoweek.org/img/twittercard.png' />
  {% endif %}

  <title>{% if page.url == "/"  %}{% else %}{{page.title}} | {% endif %}OpenStreetMap Geography Awareness Week</title>

  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300italic,400italic|Montserrat:700|Asap:400,700' rel='stylesheet' type='text/css'>
  
  <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/favicon.ico" />

  <link href='http://fonts.googleapis.com/css?family=Kreon:400,700' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/base/base.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='{{site.baseurl}}/site.js'></script>
  <!-- Google Analytics -->
  {% if site.ga.enabled == true %}
    {% include analytics_ga_snippet.html %}
  {% endif %}

  <!--Transifex snippet-->
<!--
  <script type="text/javascript">window.liveSettings={api_key:"1cc56f8d67ca43888bf9dc947e99963a"}</script>
  <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
-->

</head>


{{content}}

<div class='pad2x show-mobile'>
  <a href='#sponsors' class='button block'>Supporters</a>
</div>




</body>
</html>
