---
layout: default
title: Events
twitter-description: Sign up for an event near you or plan your own mapathon. You can contribute to mapping projects around the world and explore the power of maps! Get in touch, we're happy to help!
dates:
  - id: 'pre-event'
    name: Events starting early
  - id: '2017-11-12'
    name: Sunday, November 12th
  - id: '2017-11-13'
    name: Monday, November 13th
  - id: '2017-11-14'
    name: Tuesday, November 14th
  - id: '2017-11-15'
    name: Wednesday, November 15th
  - id: '2017-11-16'
    name: Thursday, November 16th
  - id: '2017-11-17'
    name: Friday, November 17th
  - id: '2017-11-18'
    name: Saturday, November 18th
  - id: 'post-event'
    name: Events starting late
---

<div class='fill-bold-blue dark'>
  <div class='limiter'>
    <div class='pad2y'>
      <h1 class='space-bottom1 space-top4'>Events</h1>
      <p class='prose-big'> Find an event near you. Or, let us know if you are <a style="color:black" href="{{site.baseurl}}/plan/">planning an event</a>, <a style="color:black" href="http://goo.gl/forms/bBI3pQ1IE6">submit the details</a> or <a style="color:black" href="mailto:osmgeoweek@gmail.com">get in touch</a>!</p>
    </div>
  </div>
</div>

{% include map.html %}

  {% for date in page.dates %}

      <div class='pad2y'>
        <div class='limiter'>
          <div class='col12 quiet space-bottom1  {% unless forloop.index == 1 %}keyline-top{% endunless %}'>
            <h3 class='col12 pad2y'>
              {{date.name}}
            </h3>
          </div>
          <div class='col12 pad1y'>

            {% for item in site.categories.event %}

                  {% capture my_variable %}{{ item.date | date: "%Y-%m-%d" }}{% endcapture %}

                  {% if date.id  == 'pre-event' %}

                      {% if item.pre-event  == true %}

                        <div class='col12 pad1y clearfix {% if item.highlight == true %}highlight{% endif %}'>
                        <div>
                          <div class='headline clearfix space-bottom1'>
                            <h2><a href='{{site.baseurl}}/{{item.permalink}}'>{{item.title}}</a></h2>
                            <span class='text-right quiet'>{{item.location}}</span>
                            <span class='strong'>
                            {{item.time}} | {{ item.date | date: "%A, %B %-d" }}
                          </span>
                          </div>

                          <p><p>
                            {% if item.thumbnail %}
                              <img src="{{ item.thumbnail }}" style="height: 280px" align="center" />
                            {% endif %}
                          <p>

                          <div class='prose schedule'>
                            {{item.excerpt}}
                          </div>
                        </div>
                      </div>


                      {% endif %}

                  {% elsif date.id  == 'post-event' %}

                      {% if item.post-event  == true %}

                        <div class='col12 pad1y clearfix {% if item.highlight == true %}highlight{% endif %}'>
                        <div>
                          <div class='headline clearfix space-bottom1'>
                            <h2><a href='{{site.baseurl}}/{{item.permalink}}'>{{item.title}}</a></h2>
                            <span class='text-right quiet'>{{item.location}}</span>
                            <span class='strong'>
                            {{item.time}} | {{ item.date | date: "%A, %B %-d" }}
                          </span>
                          </div>

                          <p><p>
                            {% if item.thumbnail %}
                              <img src="{{ item.thumbnail }}" style="height: 280px" align="center" />
                            {% endif %}
                          <p>

                          <div class='prose schedule'>
                            {{item.excerpt}}
                          </div>
                        </div>
                      </div>


                      {% endif %}


                  {% elsif my_variable contains date.id %}

                      <div class='col12 pad1y clearfix {% if item.highlight == true %}highlight{% endif %}'>
                        <div>
                          <div class='headline clearfix space-bottom1'>
                            <h2><a href='{{site.baseurl}}/{{item.permalink}}'>{{item.title}}</a></h2>
                            <span class='text-right quiet'>{{item.location}}</span>
                            <span class='strong'>
                            {{item.time}} | {{ item.date | date: "%A" }}
                          </span>
                          </div>

                          <p><p>
                            {% if item.thumbnail %}
                              <img src="{{ item.thumbnail }}" style="height: 280px" align="center" />
                            {% endif %}
                          <p>

                          <div class='prose schedule'>
                            {{item.excerpt}}
                          </div>
                        </div>
                      </div>

                  {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

  {% endfor %}

</div>

  

